html,
body {
  padding: 0;
  margin: 0;
  border-style: solid;
  border-color: #FFBC93;
  border-width: 30px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.leftcolumn {   
  float: left;
  width: 50%;
}

.rightcolumn {
  float: right;
  width: 50%;
  padding-left: 60px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.CreateOneListButton{

  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFBC93;
  font-size: 16px;
  padding: 16px 40px;
  border-radius: 8px;
  border: 4px solid #FFBC93;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  cursor: pointer;
  width: fit-content;

}
.JoinOneListButton{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFBC93;
  font-size: 16px;
  padding: 16px 40px;
  border-radius: 8px;
  border: 4px solid #FFBC93;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  cursor: pointer;

}

#eventDescription{

  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: #FFBC93;
  border: 2px solid;
  padding-left: 7px;
  padding-top: 6px;

}
#eventTitle{
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: #FFBC93;
  border: 2px solid;
  padding-left: 7px;
  padding-top: 6px;



}

.EventID{

  border-radius: 15px;
  text-align: right;
  font-weight: bold;
  display: inline-block;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #FFBC93;
  padding-left: 10px;
  padding-right: 10px;

}
.EventText{
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}
.ID{
  float: left;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 4px;

}

#eventDate{
  margin-top: 5px;
  border-radius: 7px;
  border: 2px solid;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #FFBC93;

}
.HostPrompt{

  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
 
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
  width: fit-content;
  
}

#signIn{
  float: left;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #FFBC93;;
  background-color: black;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
  width: fit-content;
  border-radius: 8px;
  border: 2px solid;

}

.photoLabel{
  text-align:left;
  font-size: 14px;
  padding: 10px;
}

#CreateDateButton{

  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFBC93;
  font-size: 16px;
  border: 4px solid;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid;
  cursor: pointer;
  font-weight: bold;
  padding-left:6px;
  padding-right:6px;
  padding-top:6px;
  padding-bottom:6px;

}

#CancelDateButton{

  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFBC93;
  font-size: 16px;
  border: 4px solid;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 6px;
  border: 1px solid;
  cursor: pointer;
  font-weight: bold;
  padding-left:6px;
  padding-right:6px;
  padding-top:6px;
  padding-bottom:6px;

}

#AddSongsButton{

  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFBC93;
  font-size: 16px;
  padding: 16px 40px;
  border-radius: 8px;
  border: 4px solid #FFBC93;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  cursor: pointer;
}

#ExportSongsButton{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFBC93;
  font-size: 16px;
  padding: 16px 40px;
  border-radius: 8px;
  border: 4px solid #FFBC93;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  cursor: pointer;
  margin-left: 5px;

}

#InvitationLinkButton{

  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFBC93;
  font-size: 16px;
  padding: 16px 40px;
  border-radius: 8px;
  border: 4px solid #FFBC93;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  cursor: pointer;
  margin-left: 5px;

}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
