.container {
  width: 100%;
  height: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  background: #FFBC93;
}

.contents {
  width: 300px;
}

.select {
  font-size: 12px;
}

.title {
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  margin: 10px 0px;
}

.backButton {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFBC93;
  font-size: 16px;
  border: 4px solid;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid;
  cursor: pointer;
  font-weight: bold;
  padding-left:6px;
  padding-right:6px;
  padding-top:6px;
  padding-bottom:6px;
}