.container {
  width: 100%;
  height: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  background: rgb(235, 103, 52);
}

.contents {
  width: 300px;
}

.select {
  font-size: 12px;
}

.title {
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  margin: 10px 0px;
}